.activities-section .section-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    margin-top: 0;
    margin-bottom: 10px;
  }
  .activities-section p {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  
    margin: 0;
  }
  .activities-list {
    display: flex;
    gap: 30px;
  }